<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <title>RCov - Ruby C0 Code Coverage</title> 
    <link rel="stylesheet" href="/rcov/stylesheets/common.css" type="text/css" /> 
  </head> 

  <body> 
    <a href="http://github.com/relevance/rcov"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
 
    <div id="wrapper"> 
      <div id="header"> 
        <h1>RCov</h1> 
        <p>RCov - Ruby C0 Code Coverage</p> 
        <ul id="nav">
          <li><a href="http://github.com/relevance/rcov">Source</a></li>
        </ul> 
      </div> 
      
      <div id="content"> 
        {{ content }}
      </div> 
      
      <div id="footer"> 
        <p>Maintained by <a href="http://thinkrelevance.com">Relevance</a></p> 
      </div> 
    </div> 
  </body> 
</html>